 @font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: 500;
 }

  @font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: 700;
 }
 
   @font-face {
    font-family: 'Fraunces';
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format(truetype);
    font-weight: 500;
 }


 body {
      background-color: hsl(30, 38%, 92%);
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      /* font-family: 'Fraunces', sans-serif; */
      display: flex;

      justify-content: center;
      align-items: center;

      height: 100vh;
    
    }

main {
    /* border: 1px solid red; */
    width: 650px;
    display: flex;
    min-height: 400px;


}
 .photo {
    /* border: 1px solid blue; */
    width: 350px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;

 }

 .content {
    width: 300px;
    padding: 28px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 21px;
 }

  .content h2 {
    /* border: 1px solid green; */
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    letter-spacing: 7px;
    
 }

 h2 {
    /* border: 1px solid green; */
    margin: 0;
 }

 h1 {
    /* border: 1px solid green; */
    margin: 0;
    color: hsl(212, 21%, 14%;
    font-weight: 700;
 }
  .content p {
    /* border: 1px solid green; */
    margin: 0;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
 }